/* our-works */
.works {
  @media screen and(max-width: 1199px) {
    display: none;
  }

  padding-top: 0;
}
.works__list {
  display: flex;
}
.works__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
.works__title {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
