.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 1;
  transition: opacity 222ms cubic-bezier(0.57, 0.33, 0, 0.64);

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);
  &.is-hidden {
    /* visibility: hidden; */
    opacity: 0;
    pointer-events: none;
  }
}
/* модификатор ? */
// .backdrop.is-hidden {
//   /* visibility: hidden; */
//   opacity: 0;
//   pointer-events: none;
// }
