/* modal checkbox ? */
.checkbox {
  position: relative;

  margin-bottom: 30px;
  // ! должно быть 24px
  padding-left: 20px;

  font-size: 12px;
  line-height: 1.17;
  @media screen and (min-width: 1200px) {
    padding-left: 36px;

    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__input {
  position: absolute;

  /* грамотное скрытие */
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  /* аналог - appearance: none; НЕ во всех браузерах*/
}
.checkbox__icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 16px;
  // width: 15px;
  height: 15px;
  fill: var(--title-text-color);

  @media screen and (min-width: 1200px) {
    left: 13px;
  }

  .checkbox__input:focus ~ & {
    fill: var(--accent-color);
  }
  .checkbox__input:checked ~ & {
    opacity: 0;
  }
  &--check {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .checkbox__input:checked ~ &--check {
    opacity: 1;
  }
}
.checkbox__link {
  text-decoration: underline;
  color: var(--accent-color);
}
