.logo {
  color: var(--accent-color);
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo__text {
  color: var(--logo-color);

  &--inverse {
    color: var(--primary-white-color);
  }
}
