.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form__text {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--title-text-color);
  @media screen and (max-width: 1199px) {
    max-width: 370px;
  }
  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}
.modal-form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal-form__wrap {
  position: relative;

  margin-top: 4px;
}
.modal-form__input {
  display: block;
  width: 100%;
  height: 40px;

  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border: 1px solid var(--accent-color);
  }
}
.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 18px;
  height: 18px;

  fill: var(--title-text-color);

  .modal-form__input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form__comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal-form__textarea {
  resize: none;

  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transform: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    outline: none;
    border: 1px solid var(--accent-color);
  }
}

.modal-form__btn {
  align-self: center;
  width: 200px;
  min-height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--btn-accent-color);
  }
}
