body {
  /* для фиксированной шапки */
  padding-top: 60px;
  @media screen and (min-width: 768px) {
    padding-top: 80px;
  }
  // padding-top: 80px;

  background-color: var(--primary-white-color);

  color: var(--primary-text-color);
  font-family: var(--primary-font);
  // font-family: $primary-font;
  letter-spacing: 0.03em;
}
/* reset */
.link {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;

  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
