:root {
  //colors
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --btn-accent-color: #188ce8;
  --primary-white-color: #ffffff;
  --header-border-color: #ececec;
  --portfolio-border-color: #eeeeee;
  --hero-bg-color: #c4c4c4;
  --bright-bg-color: #f5f4fa;
  --primary-icon-color: #afb1b8;
  --footer-bg-color: #2f303a;
  --footer-contacts-text: rgba(255, 255, 255, 0.6);
  --footer-icon-bg: rgba(255, 255, 255, 0.1);
  //fonts
  --primary-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
}

// $primary-font: 'Roboto', sans-serif;
